Website is still under development!

<section>
  <h1>
    Kye Cedar
  </h1>
  <p>
    Game developer and artist.
  </p>
</section>
<section>
  <h2>
    Commissions
  </h2>
  <p>
    Digital art in bold styles, sketchy styles, experimental styles, etc. styles!
  </p>
</section>