Website is still under development!

<div id="content">
  <section>
    <div class="left">
      
    </div>
    <div class="right">
      <h1>
        Kye Cedar
      </h1>
      <h2>
        Game developer and artist.
      </h2>
    </div>
  </section>
</div>