i do not accept payment in crypto

<strong>You must read these Terms of Service before you contact me about purchasing a commission.</strong>
<!-- GENERAL INFO -->

<section id="will-and-wont-draws">
  <div class="left will">
    <ul>
      <li>anthro/furry characters.</li>
      <li>sfw draw-overs ( your character in your place ).</li>
      <li>environments that are blurred or aren't the main focus.</li>
      <li>gay nsfw ( male-to-male ).</li>
      <li>blood and mild gore.</li>
    </ul>
  </div>
  <div class="right wont">
    <ul>
      <li>copyrighted intellectual property.</li>
      <li>draw-overs of other people ( without their express consent ).</li>
      <li>nsfw draw-overs.</li>
      <li>human characters.</li>
      <li>underaged characters ( any characters under 18 ).</li>
      <li>extreme gore ( severing, gutting ).</li>
      <li>incest/pedophilia/babyfur.</li>
      <li>zoophilia/beastiality.</li>
      <li>vore/scat/piss.</li>
      <li>hate art/racism/Nazism.</li>
    </ul>
    This list is not exhaustive and is subject to change at any time before, during, or after the process.
  </div>
</section>