/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root:not([high-contrast=true]) footer .credit .contribution,
:root:not([high-contrast=true]) footer .copyright {
  font-weight: 100;
}

h1, h2 {
  font-weight: 900;
}



/* ROOT and VARIABLES */
:root {
  --col-red:    #E0153A;
  --col-blue:   #25A3F3;
  --col-yellow: #FBC917;
  --col-purple: #6526F5;
  --col-black:  #181A20;
  --col-white:  #FFFFFF;

  --col-high-con-black: #000000;
  --col-high-con-white: #FFFFFF;
  
  --primary:   var(--col-white);
  --secondary: var(--col-black);

  --fore: var(--secondary);
  --back: var(--primary);
  --link: var(--col-blue);
  --high: var(--col-red);
  
  color:      var(--fore);
  background: var(--back);
  
  font-family: 'Roboto', sans-serif;

  --content-margin:  25px;
  --content-width:   1000px;
  --section-padding: 25px;
  --column-width:    260px;
  --footer-height:   100px;

  /* COMPUTED VARIABLES */
  --ccw: calc(100vw - (var(--content-margin) * 2)); /* computed content width */
}

:root[theme="light"] {
  --primary:   var(--col-white);
  --secondary: var(--col-black);
}

:root[theme="light"][high-contrast=true] {
  --primary:  var(--col-high-con-white);
  --seconday: var(--col-high-con-black);
}

:root[theme="dark"] {
  --primary:   var(--col-black);
  --secondary: var(--col-white);
}

:root[theme="dark"][high-contrast=true] {
  --primary:   var(--col-high-con-black);
  --secondary: var(--col-high-con-white);
}

:root,
:root body {
  overflow-x: hidden;
}



/* UNSELECTABLES */
.subhead {
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
  user-select:           none;
}



/* LINKS */
a {
  position: relative;

  color: var(--fore);
  text-decoration: none;
}

a span {
  position: relative;
  z-index: 1;
}

a div {
  --underline-overflow: 3px;

  content: "";
  position: absolute;
  z-index: 0;

  bottom: 0px;

  width: calc(100% + (var(--underline-overflow) * 2));
  height: 1px;

  transform: translateX(calc(var(--underline-overflow) * -1));

  background: var(--link);

  transition-duration: 0.05s;
  transition-property: height;
}

a:hover span {
  color: var(--fore);
}

a:hover div {
  height: 100%;
}



/* HEADERS */
h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

.subhead {
  text-align: right;
  text-transform: uppercase;
  font-style: italic;
}



/* PAGE CONTENT */
body > .content {
  margin-top: var(--section-padding);
}

footer > .content,
body > .content {
  width:     var(--ccw);
  max-width: var(--content-width);
  
  margin-left:  auto;
  margin-right: auto;
}

body > .content section:not(:last-child) {
  margin-bottom: var(--section-padding);
}

/* FOOTER */
footer {
  position: relative;

  margin-top: var(--section-padding);

  width: 100%;

  --fore: var(--primary);
  --back: var(--secondary);

  color:      var(--fore);
  background: var(--back);
}

footer > .content {
  position:   relative;
  padding:    var(--section-padding) 0;
  min-height: var(--footer-height);
}

footer .credits {
  column-width: var(--column-width);
}

footer .credit {
  margin-right: var(--section-padding);

  -webkit-column-break-inside: avoid;
  page-break-inside:           avoid;
  break-inside:                avoid;
}

footer .copyright {
  padding-top: var(--section-padding);
  text-align:  center;
}

/* CONTENT SPACING */
.content[spacing="1/1"] .left,
.content[spacing="1/1"] .right {
  width: 50%;
}