<footer>
    <div class="content">
        <div class="subhead">Credits</div>
        <div class="credits">

            {{#each credits}}
                {{> credit}}
            {{/each}}

        </div>

        <div class="copyright">© Kye Cedar 2022<br>Some Rights Reserved</div>
    </div>
</footer>