<!DOCTYPE html>

<html lang="en-US">
  <head>
    <title>{{title}}</title>
    
    <meta charset="UTF-8">
    
    <meta rel="description" content="">
    <meta rel="canonical" href="{{canonical}}">
    
    <link rel="icon" type="image/png" href="https://cdn.glitch.global/620668b4-a855-462a-85ba-cde365d9a412/favicon.png?v=1643898632177">
    
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
  </head>
  <body>
    <div id="content">
      {{{body}}}
      {{> footer}}
    </div>
  </body>
</html>